<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>928425044171-6jh6eh18919u479ga1julh21htpblal8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928425044171-6jh6eh18919u479ga1julh21htpblal8</string>
	<key>API_KEY</key>
	<string>AIzaSyCOZYLtvmCEL37xM1XuRr-CT2nT0Jk9wGA</string>
	<key>GCM_SENDER_ID</key>
	<string>928425044171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.treefe.ios</string>
	<key>PROJECT_ID</key>
	<string>treefe-frontend</string>
	<key>STORAGE_BUCKET</key>
	<string>treefe-frontend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928425044171:ios:88403a75fe49773d77534e</string>
</dict>
</plist>